*
{
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}
.header
{
    display: flex;
    flex-direction: row;
     padding: 2em;
}
.img
{
    height: 1.1rem;
    width: 1.1rem;
}
.head1
{
    display: inline;
  
}
.div1
{
    margin-left: 2.5em;
     
    justify-content: center;
}
.div2
{
 margin-left: auto;
  align-self:center;
}
.div-2
{
    text-decoration: none;
    margin-right: 2em;
    color: black;
}
/*  Main Content */

.desc
{
    margin-left: 4em;
}

/*  Main Content  */

.bar-a1
{
    text-decoration: none;
    color: black;
    font-size:large;
}
.bar-div1
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
     
}
.imggg
{
    height: 2rem;
    width: 2rem;
}
.basic-div
{
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: center;
    padding: 1em;
}
.p
{
    display: inline;
    margin: 1em;
    font-size: small;
    color: slategray;
}
/* Service Bar */
.Basic-pack
{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 2em;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.painting_img
{
    height: 15rem;
    width: 18rem;
}
.basic_img
{
    height: 15rem;
    width: 20.5rem;
}
.standard_img
{
    height: 15rem;
    width: 18rem;
}
.inspect_img
{
    height: 15rem;
    width: 18rem;
}
.painting_img
{
    height: 15rem;
    width: 18rem;
}
.clean_img
{
    height: 15rem;
    width: 18rem;
}
.Standard-pack
{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 2em;
    margin-top: 1em;
}
 .Repainting-sec
 {
        display: flex;
    flex-direction: row;
    gap: 2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 2em;
    margin-top: 1em;
 }
 .car-inspection
 {
        display: flex;
    flex-direction: row;
    gap: 2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 2em;
    margin-top: 1em;
 }
 .car-cleaning
 {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 2em;
    margin-top: 1em;
 }
/* CSS */
.button-07 {
 
  background: #0c2848;
  border: 1px solid #0c2848;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
 margin-top: 1em;
}

.button-07:hover,.button-07:active {
  background-color: initial;
  background-position: 0 0;
  color: #0c2848;
}

.button-07:active {
  opacity: .5;
}
.footer-s
{
    margin-top: 10rem;
  background: #101357;
  color: rgb(221, 215, 208);
  padding: 3rem;
}
.reach
{
     
    text-align: center;
 
}
.footer-div
{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 gap: 12rem;
}
.foot-d{
 text-decoration: none;
 color: rgb(221, 215, 208);
 margin: 8px;
}
.quick-link
{
    display: flex;
    flex-direction:column;
}