<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>InsertData</servlet-name>
  	<display-name>InsertData</display-name>
  	<description></description>
  	<servlet-class>hiberClass.InsertData</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateData</servlet-name>
  	<display-name>UpdateData</display-name>
  	<description></description>
  	<servlet-class>hiberClass.UpdateData</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>hiberClass.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistrationServlet</servlet-name>
  	<display-name>RegistrationServlet</display-name>
  	<description></description>
  	<servlet-class>hiberClass.RegistrationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InsertSERVLET</servlet-name>
  	<display-name>InsertSERVLET</display-name>
  	<description></description>
  	<servlet-class>basicCRUD.InsertSERVLET</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AuthServlet</servlet-name>
  	<display-name>AuthServlet</display-name>
  	<description></description>
  	<servlet-class>authPACK.AuthServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateServlet</servlet-name>
  	<display-name>UpdateServlet</display-name>
  	<description></description>
  	<servlet-class>basicCRUD.UpdateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MainServlet</servlet-name>
  	<display-name>MainServlet</display-name>
  	<description></description>
  	<servlet-class>basicCRUD.MainServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SendOTP</servlet-name>
  	<display-name>SendOTP</display-name>
  	<description></description>
  	<servlet-class>forgetPass.SendOTP</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Authenticate</servlet-name>
  	<display-name>Authenticate</display-name>
  	<description></description>
  	<servlet-class>forgetPass.Authenticate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateCred</servlet-name>
  	<display-name>UpdateCred</display-name>
  	<description></description>
  	<servlet-class>basicCRUD.UpdateCred</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Admin</servlet-name>
  	<display-name>Admin</display-name>
  	<description></description>
  	<servlet-class>admin.Admin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>basicCRUD.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>InsertData</servlet-name>
  	<url-pattern>/InsertData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateData</servlet-name>
  	<url-pattern>/UpdateData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistrationServlet</servlet-name>
  	<url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InsertSERVLET</servlet-name>
  	<url-pattern>/InsertSERVLET</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AuthServlet</servlet-name>
  	<url-pattern>/AuthServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateServlet</servlet-name>
  	<url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MainServlet</servlet-name>
  	<url-pattern>/MainServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SendOTP</servlet-name>
  	<url-pattern>/SendOTP</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Authenticate</servlet-name>
  	<url-pattern>/Authenticate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateCred</servlet-name>
  	<url-pattern>/UpdateCred</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Admin</servlet-name>
  	<url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>
